.sidenav {
	height: calc(100vh - 48px);
	padding: 24px;
	background-color: #000;
	display: inline-block;
	width: calc(256px - 48px);
	position: sticky;
	top: 0;
}

.content {
	display: inline-block;
	vertical-align: top;
}

.route {
	color: #fff;
	text-decoration: none;
}
